@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <!--<#input id="id" name="id" value="${item.id}" underline="true"/>-->
                            <#input id="fjbh" name="房间编号" value="${item.fjbh}" underline="true"/>
                            <#input id="yzxm" name="业主姓名" value="${item.yzxm}" underline="true"/>
                            <#input id="yzdh" name="业主电话" value="${item.yzdh}" underline="true"/>
                            <#input id="wxrq" name="维修日期" underline="true" type="date"
                            clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" />
                            <#input id="wxxm" name="维修项目" value="${item.wxxm}" />
                </div>

                <div class="col-sm-6">
                            <#input id="wxrybh" name="维修人编号" value="${item.wxrybh}" underline="true"/>
                            <#input id="wxrxm" name="维修人姓名" value="${item.wxrxm}" underline="true"/>
                            <#input id="yzpj" name="业主评价" value="${item.yzpj}" underline="true"/>
                            <#input id="bz" name="备注" value="${item.bz}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="FixInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="FixInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/fix/fix/fix_info.js"></script>
@}
